/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-s;

    // Fallback (Safari 12).
    /* stylelint-disable-next-line order/order */
    @supports not (gap: 1rem) {
        > * {
            margin: calc($gutter-s / 2);
        }
    }
}
