/*
----------------------------------------------------------------------------
WYSIWYG (CMS editor "prose" content).
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.wysiwyg {
    overflow-x: hidden; // Just in case CMS content is stupidly wide.

    // Uses stack layout to handle spacing between prose elements, based on their rendered font size.
    &.stack {
        --stack-gutter: 1em;

        // Remove spacing for adjacent headings.
        h1 + h2,
        h2 + h3 {
            --stack-gutter: 0;
        }
    }
}
