/*
----------------------------------------------------------------------------
Color settings.
----------------------------------------------------------------------------
*/

$color-brand: hsl(var(--color-brand)) !default;
$color-text: hsl(var(--color-text)) !default;
$color-background: hsl(var(--color-background)) !default;

$color-neutral-900: hsl(var(--color-neutral-900)) !default;
$color-neutral-100: hsl(var(--color-neutral-100)) !default;

$color-success: hsl(var(--color-accent-positive)) !default;
$color-error: hsl(var(--color-accent-negative)) !default;
$color-notify: hsl(var(--color-accent-neutral)) !default;
$color-focus: hsl(var(--color-focus)) !default;
