/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.flex {
    --flex-gap: #{$gutter-m};

    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap, 1rem);

    // Make all flex items grow to fill available space.
    &--grow-all > * {
        flex-grow: 1;
    }

    // Let gap handle spacing between flex items.
    > * {
        margin: 0;
    }

    // Fallback (Safari 12).
    /* stylelint-disable-next-line order/order */
    @supports not (gap: 1rem) {
        > * {
            margin: calc($gutter-m / 2);
        }
    }
}
