/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.wrapper {
    --wrapper-max-width: 64rem;

    margin-inline: auto;
    max-inline-size: var(--wrapper-max-width);
    padding-inline: var(--gutter-m);
}
